*.exe

# Editors
*~
.*.swp
.#*
\#*#
.dir-locals.el

# TAGS
TAGS
GPATH
GRTAGS
GTAGS
tags

# Archives
pkg/
*.tgz

# Ignore config
/go-apt-cacher.toml
/go-apt-mirror.toml

# Ignore Goland
/.idea/

# Ignore goreleaser
/dist/
